body {

    background-color: #3498db;
}

#button {
    font-size: 5em;
top: 50%;
   color: white;

}

#title {
    text-align: center;
    color:white;
    font-size:7em;
    
}

#buttonDiv {
    width:55%;
    height:10%;
    background-color: #95a5a6;
    align-content:center;
    text-align: center;
    margin-left: 23%;
    margin-top:5%;


}

a {
    text-decoration: none;
}
