body {

    background-color: #3498db;
}

#button {
    font-size: 3em;
top: 50%;
   color: white;
padding-top: 5%;
    padding-bottom: 5%;

}

 #title {
    text-align: center;
    color:white;
    font-size: 700%;
    padding-top: 0px;
     padding-bottom: none;


}

#buttonDiv {
    width:55%;
    max-height: 10%;
    background-color: #95a5a6;
    align-content:center;
    text-align: center;
    margin-left: 23%;
    margin-top:5%;


}

a {
    text-decoration: none;
}

#description {
    font-size:200%;
    text-align: center;
    margin-top:-7%;
    color:white;
}

